<div class="container home">
    <div class="jumbotron">
        <h1>Class of 2007</h1>
        <hr />

        <!-- Post Block 
        <div class="row">
            <h4 style="float:left;">Take a Second to Vote</h4><h4 style="float:right;">05/05/2017</h4>
        </div>
        
        <p>Polls are open until Wednesday 5/10/2017. Visit the following links for each Poll.
            <ul>
                <li><a href="https://www.facebook.com/groups/216978288794424/permalink/217034902122096/">Date/Time</a></li>

                <li><a href="https://www.facebook.com/groups/216978288794424/permalink/217037882121798/">Price</a></li>

                <li><a href="https://www.facebook.com/groups/216978288794424/permalink/217037462121840/">Venue</a></li>
            </ul>
        </p>
        <hr />
        End Post Block-->
        <div class="row">
            <h4 style="float:left;">Pictures!</h4><h4 style="float:right;">05/11/2017</h4>
        </div>
        
        <p>
            Hey guys and gals, we are seeking for pictures of you and your friends from back in highscool. If you have any pictures that you would like to share please
            email them to us at our <a href="mailto:photos@cvhs2007.com">photo email address</a>.
        </p>
        <hr />

        <div class="row">
            <h4 style="float:left;">Latest...</h4><h4 style="float:right;">05/08/2017</h4>
        </div>
        <p>
           We have a group of individuals who have graciously offered to help plan this event. However, given the magnitude of this event we can 
            always use additional help. If you would like to help and haven't registered yet, go ahead and register and select 'yes' in the respective
            category. If you have already registered and have changed your mind, send us an <a href="mailto:admin@cvhs2007.com">email</a> and we will add
            you to the planning group.           
        </p>
        <hr />
        <div class="row">
            <h4 style="float:left;">Registration</h4><h4 style="float:right;">05/05/2017</h4>
        </div>
        <p>
            For those who are interested in going to the Reunion regardless of what time/date, Registration has been opened up. We only ask
            for some basic information; First Name, Last Name, Phone Number (Optional), Email Address, and if you would like to help plan the reunion. If you change your mind and are unable to go, please send us an <a href="mailto:admin@cvhs2007.com">email</a>.
            
        </p>
        
        <p>
            <a class="btn btn-primary btn-lg" href="#!/register" role="button">Register</a>
            <a class="btn btn-primary btn-lg" href="#!/registered" role="button">Attending</a>
        </p>
        
    </div>
</div>