body {
    font-family: 'Roboto Condensed', sans-serif;
    background:url("../img/lacrescenta.jpg")no-repeat center center scroll;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	height:100vh;
    color:black;
    
}

.row h1,.row h4{
    padding-left: 10px;
    padding-right:10px;
}
.back{
    font-family: 'Roboto Condensed',sans-serif;
}
h1, h4{
    font-family: 'Dancing Script', cursive;
}
td{
    white-space:nowrap;
    text-overflow:ellipsis;
}

a,ul,p{
    font-size:20px;
}
.container a:link {
    text-decoration: none;
}

.container a:visited {
    text-decoration: none;
}

.container a:hover {
    text-decoration: none;
}

.container a:active {
    text-decoration: none;
}
.container-back{
    margin-top:20px;
    position:static;
    float:left;
    color:black;
    
    font-size: 1em;
}
.container-header{
    text-align: center;
}
.container.register{		
        background-color: #fff;
		box-shadow: 0 0 10px rgba(0,0,0,0.5);
        margin: auto;
		
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 10px;
        border: 5px solid #e9e9e9;
	}
.alert-container{
    position:fixed;
    top:10%;
    left:12.5%;
    right:12.5%;
    z-index:9999;
}

.alert-container .panel-body, .alert-container .panel-primary, .alert-container .panel-danger{
    height:100%;
    text-align:center;
    margin-bottom:0;
}
.alert-container .panel-body{
    vertical-align:central;
}
h1{
    font-size:40px;
}
h4{
    font-size:25px;
}
table {
    text-align: left;
    font-size: 22px;
    width: 100%;
}
.form-control{
    height:44px;
}
input[type="text"].form-control , input[type="email"].form-control, #{
    /*font-size:4vh;*/
    font-size:40px;
    height: 50px;
    min-height:50px;
    /*line-height:5vh;*/
    text-indent: 20px;
    padding-top:0;
    padding-bottom:0;
}
input[type="submit"]{
    font-size:40px;
    line-height:60px;
    vertical-align:middle;
    height:75px;
    min-height:75px;
}
small{
    float:right;
    font-size:10px;
    line-height:30px;
}
.app-container{
    text-align:center;
   background:rgba(255,255,255,1);
   width:100%;
   display:block;
}
.app-container.register{
    background:rgba(255,255,255,1);
}
.alumns{
    width: 95vw;
    display:block;
    
}
.alumns .td-one{
   width:47.5vw;
   float:left;
   text-align:left;
}
.alumns .td-two{
    text-align:right;
 width: 47.5vw;
 float:right;
 padding-right: 5vw;
}
.logo{
    max-width:50%;
    display:block;
    margin: 0 auto;
}
.form-group{
    padding-bottom:10px;
}
label{
    width:100%;
    left:0;
    text-align:left;
}
.email-holder{
    display:inline-block;
}

.register{
    padding: 0 5% 5% 5%;
    border: 2px solid rgb(233,233,233);
    
}

     /* Animations */
.alert-container.ng-enter{

    transition: opacity 1s, transform .5s;
    transform: scale(0,0);
    opacity:0;
}
.alert-container.ng-enter-active{
    transform: scale(1,1);
    opacity:1;
}
.alert-container.ng-leave{
    transition: opacity 1s, transform .5s;
    transform: scale(1,1);
    opacity:1;
}
.alert-container.ng-leave-active{
    transform: scale(0,0);
    opacity:0;
}

.alumns.ng-enter{
    animation: fadeIn 1s;
}
@keyframes disAppear{
    0%{
        transform:scale(1);
        
    }
    50%{
        opacity:0;
    }
    100%{
        transform:scale(0);
        margin: -48px 0;
    }
}

@media (min-width:320px)  { 
 .glyphicon{
     font-size:2em;
    padding-left: 5px;
    padding-right:5px;
}
	
	}/* smartphones, iPhone, portrait 480x320 phones */ 

@media (min-width:481px)  {

    
	} 
@media (max-width:481px)  {
       .app-container{		
		margin-top: 10%;

	}

    
	}/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
@media (min-width:641px)  { 

    
	}/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
@media (min-width:961px)  { 

    
	}/* tablet, landscape iPad, lo-res laptops ands desktops */ 
@media (min-width:1025px) { 

    
	}/* big landscape tablets, laptops, and desktops */ 
@media (min-width:1281px) { 
    
    body{
            font-size:3.5vh;
    line-height:4vh;
}
h1{
    font-size:5vh;
}
h4{
    font-size:4vh;
}

input[type="text"].form-control , input[type="email"].form-control{
    font-size:3.5vh;
    height: 4vh;
    line-height:4vh;
    text-indent: 20px;
    padding-top:0;
    min-height:50px;
}
input[type="submit"]{
    font-size:40px;
    line-height:80px;
    vertical-align:middle;
    padding:0;
    min-height:80px;
    
}
     .glyphicon{
     font-size:2em;
    padding-left: 5px;
    padding-right:5px;
}
     .register{
         
         padding-bottom:20px;
     }
    .container{
        
        max-width: 1000px;
    }
    .alumns{
    width: 965px;
    display:block;
    
}
.alumns .td-one{
   width:482.5px;
   float:left;
   text-align:left;
}
.alumns .td-two{
    text-align:right;
 width: 482.5px;
 float:right;
 padding-right: 0;
}


    
	}/* hi-res laptops and desktops */ 



.alumns.ng-leave{
  animation:fadeOut 1s;
    
}

.ng-enter-stagger{
    
    transition-delay:500ms;
    transition-duration:0s;
   
}
